<h1>Page for <%= @adventure.title %>:</h1> 
<div>
  Name: <%= @page.name %>
</div>
<div>
  Text: <%= @page.text %>
</div>




<%= link_to("New Page", new_adventure_page_path(@adventure, @page), html_options = {})%>
<%= link_to("View Pages Index", adventure_pages_path(@adventure), html_options = {})%>
<%= link_to("Return to Adventure", adventures_path(@adventure), html_options = {})%>